.desk-about{
    height: 100vh;
     padding: 50px 0px;
     background-color: lightgreen;

     .desk-about-heading{
        text-align: center;
        padding-bottom: 50px;
     }
}


.desk-about-container{
    
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;


    
    .desk-about-desc{
        .desk-about-desc-1{
             padding: 20px 0px;
        } .desk-about-desc-2{
            padding: 20px 0px;
        }
    }


    .desk-about-aside{
          display: flex;
          flex-direction: column;
          gap: 20px;

          img{
            border-radius: 20px;
          }
    }
}


.App {
  height: 200vh; /* Just to make sure there's enough space to scroll */
  text-align: center;
  padding-top: 100px;
}

.header {
  font-size: 3rem;
  transition: transform 0.5s ease, font-size 0.5s ease, top 0.5s ease;
  position: relative;
}

.header.zoomed {
  transform: scale(0.5); /* Adjust scaling */
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.5);
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 200px;
  transition: transform 0.5s ease;
}

.description,
.logo {
  width: 45%;
  transition: transform 0.5s ease;
}

.description.shift-left {
  transform: translateX(-50%);
}

.logo.shift-right {
  transform: translateX(50%);
}